<div class="container">
    <div *ngIf="message">
        <p>{{message}}</p>
    </div>

    <div *ngIf="check">
        <p (click)="rafraichir()">rafraichir</p>
    </div>

    <div *ngIf="check==false">
        <div *ngIf="data">
            
            <div class="date">{{ data.quand | date:"dd MMMM yyyy" }} - {{data.id}}</div>
    
            <form [formGroup]="infos" (ngSubmit)="onSubmit()">
                <div>
                    <div class="input">
                        <textarea cols="64" rows = "10" formControlName="note" id="note"></textarea>
                    </div>
                </div>
        
                <div>
                    <button type="submit">valider</button>
                </div>
        
            </form>
        </div>
        
    </div>

    <div *ngIf="check==false">
        <div *ngIf="data">
            <button type="submit" (click)="delete($event, data.id)">supprimer</button>
        </div>
    </div>

    
        <div *ngIf="data">
            <button type="submit" (click)="getPrevious($event, data.id)">message précédent</button>
            <button type="submit" (click)="getNext($event, data.id)">message suivant</button>
        </div>
    
</div>